* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
    color: #e2e2e2;
}

header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.39539565826330536) 60%, rgba(0,0,0,0) 100%), url(./../assets/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    background: rgba(0, 0, 0, 0.70);
    padding: 5px 15px;
}

header h2 {
    background: rgba(0, 0, 0, 0.50);
    padding: 5px 15px;
    margin-top: 20px;
}